#box{
    width: 512px;
    height:175px;
    /*margin:0 auto;*/
    border:3px solid #cc6633;
    position: relative;
    padding: 2px;
}
#left{
    width: 100px;
    height:30px;
    background:#ff7938;
    border:2px solid #e25000;
    margin:2px;
    border-radius:5px;
    color:#fff;
    text-align: center;
    line-height: 30px;
}
#right{
    width:100px;
    height:30px;
    background:#ff7938;
    border-radius:5px;
    color:#fff;
    border:2px solid #e25000;
    position: absolute;
    top:3px;
    right:3px;
    margin:2px;
    text-align: center;
    line-height: 30px;
}
input{
    width: 518px;
    height:30px;
}